<nav>
    <div class="nav-info">
        <div class="container">
            <div class="navbody">
                <div class="left-nav">
                    <div class="logo-nav">
                        <img src="asset/img/logofull.png" alt="">
                    </div>
                    <ul class="nav-list">
                        <li>Products</li>
                        <li>Promotion</li>
                        <li>Idea for Home Decoration</li>
                    </ul>
                </div>
                <div class="right-nav">
                    <div class="login-btn">
                        <div class="login">
                            <p>Login</p>
                        </div>
                        <div class="line-login"></div>
                        <div class="register">
                            <p>Register</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>